.header {
  padding: 92px 50px 96px;
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
}

.header__links-list {
  display: flex;
  font-size: 18px;
  gap: 33px;
  list-style: circle;
}

.header__links-list-item {
  padding-left: 0;
}

.header__link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.header__link_active {
  text-decoration: none;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__logo {
  display: block;
  justify-self: center;
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.address {
  font-size: 18px;
  line-height: 24px;
  font-style: normal;
  text-underline-offset: 4px;
}

.header__address {
  display: flex;
  flex-direction: column;
  max-width: 264px;
  justify-self: flex-end;
  align-items: flex-start;
  padding-left: 23px;
}

.cover {
  padding: 165px 50px 50px;
  background-image: url("../images/cover.jpg");
  background-size: cover;
  background-position: center;
  min-height: 757px;
  position:relative;
}

.overlay {
  position: absolute;
  z-index: 0;
  background: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.cover__title {
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  font-size: 100px;
  font-weight: 700;
  line-height: 115px;
  letter-spacing: 30px;
  color: #fff;
}

.aligned-text {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
  padding-left: 30px;
  padding-top: 20px;
}

.aligned-text_right {
  text-align: right;
  padding-top: 20px;
}

.letter-spacing-extended {
  letter-spacing: 30px;
}

.no-letter-spacing {
  letter-spacing: 0;
}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  margin-top: 107px;
  justify-content: end;
  align-items: center;
  gap: 109px;
  text-align: left;
}

.cover__description-text {
  font-size: 22px;
  line-height: 28px;
  color: #fff;
  text-transform: uppercase;
  word-spacing: 18px;
  text-align: left;
}

.bet-button {
  background: transparent;
  color: #fff;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 13px;
  padding-left: 31px;
  border: 1px solid #fff;
  font-size: 22px;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
}

.lots {
  padding-top: 185px;
  padding-right: 24px;
  padding-bottom: 0;
  padding-left: 24px;
  box-sizing: border-box;
}

.lots__heading {
  padding-left: 40px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
  line-height: 1;
}

.lots__card-list {
  margin: 27px 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  display: block;
}

.card {
  height: 100%;
  position: relative;
  display: flex;
  padding-top: 48px;
  padding-right: 40px;
  padding-bottom: 48px;
  padding-left: 40px;
  flex-direction: column;
  justify-content: space-between;
  background-size: cover;
  background-position: center;
  color: #fff;
}


.card_type_film {
 background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  position: relative;
  z-index: 1;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 4px;
  text-transform: uppercase;
  line-height: 1.2;
  font-weight: 700;
}

.card__text {
  position: relative;
  z-index: 1;
  font-size: 20px;
  line-height: 1.2;
}

.lots__look-more-link {
  display: inline-block;
  padding-left: 40px;
  padding-top: 4px;
  font-size: 20px;
  text-decoration: underline;
  text-underline-offset: 4px;
  cursor: pointer;
}

.about {
  padding-top: 25px;
  padding-right: 27px;
  padding-bottom: 0;
  padding-left: 70px;
  display: grid;
  grid-template-columns: 313px 1fr;
}

.about__column {
  padding-top: 100px;
  max-width: 693px;
}

.about__logo {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  background-color: black;
  border-radius: 50%;
}

.about__logo-image {
  width: 148px;
  height: 114px;
}

.about__title {
  margin-top: 136px;
  margin-bottom: 100px;
  text-transform: uppercase;
  font-size: 40px;
  line-height: 1;
  font-weight: 700;
}

.about__text {
  margin: 0 0 24px;
  font-size: 20px;
  line-height: 1.2;
}

.footer {
  padding-top: 157px;
  padding-right: 50px;
  padding-bottom: 82px;
  padding-left: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: start;
  box-sizing: border-box;
}

.address {
  max-width: 264px;
}

.footer__menu {
  justify-self: center;
}

.footer__menu-list {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
}

.footer__menu-list-item {
  font-size: 18px;
  line-height: 21px;
}

.footer__menu-link {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-list {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-self: end;
  gap: 48px;
}

.footer__social-icon {
  display: block;
  width: 48px;
  height: 48px;
}

